<%= form_for @post, html: { multipart: true, class: 'form-inline' } do |f| %>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><h2>Nowa szkoda</h2></div>
  <div class="panel-body">
    <p>Wprowadź dane dla rejestracji nowej szkody, następnie dodaj dokument w formacie pdf zawierający kosztorys i utwórz zgłoszenie. Ankieta odnośnie rodzaju szkody, naprawy pojazdu, leasingów i innych umów cesji jest już wstępnie wypełniona, należy więc jedynie sprawdzić czy wszystkie informacje zgodnę są z wprowadzaną szkodą.</p>
  </div>


    
  <%= render 'basicinfo' %>
  
  <div class="span7 text-center">
        <div class="input-group">
          <%= f.submit "Dodaj szkodę", class: 'btn btn-primary btn-lg' %>
        </div>
        <div>
          <hr class="divider">
        </div>
  </div>
  
  <%= render 'questionnaire' %>
  
</div>

<% end %>