<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><h2>Nowa szkoda</h2></div>
  <div class="panel-body">
    <p>Wprowadź dane dla rejestracji nowej szkody, następnie dodaj dokument w formacie pdf zawierający kosztorys i utwórz zgłoszenie</p>
  </div>


    
  <%= render 'form' %>
</div>
